.bmg-card-carousel {
    height: 436px;
    width: 295px;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 20px 8px -16px rgba(0,0,0,0.15), 0 4px 16px 0 rgba(185,54,15,0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: all 300ms ease;
}


.bmg-card-carousel .cl-barchart__title {
    color: #F58220;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 12px;
}

.bmg-carousel .swiper-slide {
    transition: all 300ms ease;
}

.bmg-carousel .swiper-slide-active {
    transform: translate(0px, -10px);
}


.bmg-card-carousel__title-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.bmg-card-carousel__title-container i{
    height: 48px;
    width: 48px;
    border: 1px solid #E7E7E8;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #F58220;
    margin-right: 16px;
}

.bmg-card-carousel__title {
   color: #7E868A;
   font-size: 16px;
   font-weight: bold;
   line-height: 20px;
}


.bmg-button-detail {
    background: linear-gradient(270deg, #F58220 0%, #FAA61A 100%);
    height: 32px;
    width: 126px;
    border-radius: 20px;
    font-family: Ubuntu!important;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    border: none;
    align-self: center;
    justify-self: center;
    transition: all 300ms ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.bmg-bottom-carousel {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.bmg-button-detail:hover {
    background: linear-gradient(270deg, rgb(245, 149, 66) 0%, rgb(253, 179, 52) 100%);
}

@media (min-width: 1024px) {
    
    /* .bmg-carousel .swiper-slide-active {
        transform: none;
    } */

    .bmg-carousel .swiper-slide:hover {
        transform: translate(0px, -10px);
    }
}